:root{
  /* Colores principales */
  --primary: #123C7B;        /* Azul cobalto */
  --primary-dark: #0B2E63;   /* Azul cobalto oscuro */
  --secondary: #38BDF8;      /* Azul celeste */

  /* Neutros */
  --black: #111827;
  --gray-dark: #4B5563;
  --gray: #9CA3AF;
  --gray-light: #F3F4F6;
  --white: #FFFFFF;

  /* Extras */
  --success: #22C55E;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: fixed;
  top: 0;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  background: rgba(18, 60, 123, 0.90);
  backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  color: white;
}

.logo h2 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #ffffff;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 30px;

  list-style: none;

  color: white;
}

.nav-links li {
  transition: 0.3s;
  cursor: pointer;
}

.nav-links li:hover {
  color: var(--secondary);
}

.hero {
  min-height: 100vh;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("https://images.unsplash.com/photo-1565008447742-97f6f38c985c");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}

.hero-overlay {
  width: 100%;
}

.hero-content {
  max-width: 900px;

  margin-left: 8%;
  color: white;
}

.hero-tag {
  display: inline-block;

  padding: 8px 18px;

  border-radius: 50px;

  background: rgba(255,255,255,0.1);

  margin-bottom: 25px;

  font-size: 0.9rem;
}

.hero-content h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.8;

  max-width: 700px;

  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  padding: 15px 30px;

  border: none;

  border-radius: 50px;

  background: var(--primary);
  transition: .3s ease;

  color: white;

  cursor: pointer;
}

.primary-btn:hover{
    background: var(--primary-dark);
    transform: translateY(-2px);
}

.secondary-btn {
  padding: 15px 30px;

  border-radius: 50px;

  background: transparent;

  border:2px solid var(--secondary);
  
  color:var(--white);

  cursor: pointer;

  text-decoration: none;

  display: inline-block;
}

.secondary-btn:hover{
    background: var(--secondary);
    color: var(--primary-dark);
}

.services {
  background:var(--gray-light);
  padding: 120px 10%;
}

.section-title {
  text-align: center;
  margin-bottom: 80px;
}

.section-title h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  color:var(--primary-dark);
}

.section-title p {
  color: #666;
}

.service-row {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 100px;
}

.reverse {
  flex-direction: row-reverse;
}

.service-image {
  flex: 1;
}

.service-image img {
  width: 100%;
  border-radius: 20px;
}

.service-content {
  flex: 1;
}

.service-content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color:var(--primary-dark);
}

.service-content p {
  line-height: 1.8;
  margin-bottom: 25px;
  color:var(--primary-dark);
}

.service-content button {
  background:var(--primary);
  color: white;
  border: none;
  padding: 14px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.service-content button:hover{
    background:var(--primary-dark);
}

.contact-cta {
  background:var(--primary-dark);

  color: white;

  padding: 120px 10%;

  text-align: center;
}

.contact-cta-content {
  max-width: 900px;
  margin: auto;
}

.contact-cta h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-cta p {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.whatsapp-btn {
  background: #25d366;

  color: white;

  padding: 15px 30px;

  border-radius: 50px;

  text-decoration: none;

  font-weight: 600;

  transition: 0.3s;
}

.whatsapp-btn:hover {
  transform: translateY(-3px);
}

.about-section {
  padding: 120px 10%;

  display: flex;
  align-items: center;
  gap: 80px;

  background: #f8fafc;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
}

.about-content {
  flex: 1;
}

.about-tag {
  color:var(--secondary);
  font-weight: 600;
  letter-spacing: 2px;
}

.about-content h2 {
  font-size: 2.8rem;
  margin: 20px 0;
  line-height: 1.2;
}

.about-content p {
  line-height: 1.8;
  margin-bottom: 30px;
  color: #444;
}

.about-features {
  display: grid;
  gap: 15px;

  font-weight: 500;
}

.about-page {
  min-height: 100vh;
}

.about-hero {
  min-height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
  135deg,
  var(--primary-dark),
  var(--primary)
  );

  color: white;

  text-align: center;

  padding: 120px 10%;
}

.about-hero-content {
  max-width: 900px;
}

.about-hero span {
  color: #e63946;
  font-weight: 600;
  letter-spacing: 2px;
}

.about-hero h1 {
  font-size: 4rem;
  margin: 20px 0;
}

.about-hero p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.about-info {
  padding: 100px 10%;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  gap: 40px;
}

.about-card {
  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  color:var(--primary-dark);
}

.about-card h2 {
  margin-bottom: 20px;
  color:var(--primary-dark);
}

.about-card ul {
  padding-left: 20px;
  color:var(--primary-dark);
}

.about-card li {
  margin-bottom: 10px;
  color:var(--primary-dark);
}

.mission-section {
  background: #0f172a;

  color: white;

  text-align: center;

  padding: 100px 10%;
}

.mission-section h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.mission-section p {
  max-width: 900px;
  margin: auto;

  line-height: 1.8;
}
.products-page{

padding:140px 10% 80px;

background:#f8fafc;

min-height:100vh;

}

.products-page h1{

font-size:3rem;

margin-bottom:15px;

}

.products-page p{

margin-bottom:50px;

color:#555;

}

.products-grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(300px,1fr));

gap:35px;

}

.product-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 8px 25px rgba(0,0,0,.08);

transition:.3s;

}

.product-card:hover{

transform:translateY(-8px);

}

.product-card img{

width:100%;

height:240px;

object-fit:cover;

}

.product-info{

padding:25px;

}

.product-info span{

color:var(--secondary);

font-size:.9rem;

font-weight:600;

}

.product-info h3{

margin:15px 0;

}

.product-info button{

margin-top:20px;

background:var(--primary);

color:white;

border:none;

padding:12px 25px;

border-radius:30px;

cursor:pointer;

}

.product-info button:hover{
    background:var(--primary-dark);
}
