.hero {
  height: 90vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('https://images.unsplash.com/photo-1504307651254-35680f356dfd');

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
  padding: 20px;
}

.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-content button {
  padding: 15px 30px;
  border: none;
  background-color: #d62828;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}